header {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 14px;
    padding: 20px 20px;
}

footer {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 14px;
    padding: 20px 20px;
    bottom: 0;
}

header a, header a:visited, footer a, footer a:visited {
    text-decoration: none;
    color: black;
}

body {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

dl {
    background: none repeat scroll 0 0 #FAFAFA;
    margin: 8px 0;
    padding: 0;
}

dt {
    display: inline-block;
    width: 170px;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}

.button {
    text-decoration: none;
    background-color: #064579;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.button:hover {
    background: #A6C9E2;
    color: #fff;
}